@import './templates';

.about {
  padding-top: 16vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;

  &__label {
    @extend %label-border;

    h3 {
      @extend %label-text;
    }
  }

  @media only screen and (max-width: 768px) {
    padding-top: 10vh;
  }
  @media only screen and (max-width: 426px) {
    padding-top: 8vh;
  }

  &__chief {
    width: 100%;
    max-height: 940px;
    padding: 0 12.8rem;
    display: flex;
    flex-direction: row;
    gap: 10rem;
    @media only screen and (max-width: 768px) {
      padding: 0 5.2rem;
      gap: 2rem;
    }
    @media only screen and (max-width: 426px) {
      padding: 0 2.2rem;
      display: grid;
    }

    &-image {
      width: 45rem;
      height: 70rem;
      @media only screen and (max-width: 768px) {
        width: 40%;
        height: fit-content;
      }
      @media only screen and (max-width: 426px) {
        display: none;
      }

      img {
        border-radius: 15px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-text {
      position: relative;
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media only screen and (max-width: 426px) {
        width: 100%;
        grid-row-start: 1;
        grid-column-start: 1;

        grid-row-end: 2;
        grid-column-end: 2;
        gap: 5rem;

      }

      &::after {
        top: 90%;
        left: 65%;
        position: absolute;
        content: '';
        background: url("/assets/svg/about-leader-before.svg") no-repeat;
        background-size: contain;
        width: 40%;
        height: 10%;
        @media only screen and (max-width: 426px) {
          display: none;
        }
      }

      &-name {
        img {
          display: none;
        }

        @media only screen and (max-width: 426px) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem;
          place-items: center;

          img {
            display: block;
            border-radius: 15px;
          }
          div {
            display: flex;
            flex-direction: column;
            position: relative;
            gap: 1rem;

            &::after {
              position: absolute;
              content: '';
              background: url("/assets/svg/about-leader-before.svg") no-repeat;
              background-size: contain;
              width: 100%;
              height: 20%;
              left: -1rem;
              bottom: -3rem;
            }

            &::before {
              position: absolute;
              content: '';
              background: url("/assets/svg/about-leader-before.svg") no-repeat;
              background-size: contain;
              width: 100%;
              height: 20%;
              left: -1rem;
              top: -3rem;
            }
          }
        }
      }

      h1 {
        order: 1;
        font-size: 7rem;
        font-weight: 800;
        line-height: 96.875%;
        @media only screen and (max-width: 768px) {
          font-size: 3.5rem;
        }
        @media only screen and (max-width: 426px) {
          font-size: 3rem;
        }

        span {
          font-size: 5rem;
          font-weight: 400;
          @media only screen and (max-width: 768px) {
            font-size: 2rem;
          }
        }
      }

      h3 {
        font-size: 5rem;
        font-weight: 700;
        line-height: 102.9%;
        @media only screen and (max-width: 768px) {
          font-size: 3rem;
        }
      }

      p {
        position: relative;
        padding: 8rem 0;
        font-size: 3rem;
        font-weight: 300;
        @media only screen and (max-width: 768px) {
          font-size: 1.5rem;
          padding: 1rem 0;
        }
        @media only screen and (max-width: 426px) {
          order: 1;
        }

        &::after {
          position: absolute;
          top: -20px;
          left: -75px;
          content: '';
          background: url("/assets/svg/about-list-3.svg") no-repeat;
          background-size: contain;
          rotate: -4deg;
          display: block;
          z-index: -1;
          width: 120%;
          height: 120%;
          @media only screen and (max-width: 768px) {
            width: 200%;
            height: 170%;
            top: -50%;
          }
          @media only screen and (max-width: 426px) {
            display: none;
          }
        }
      }

      h2 {
        font-size: 7rem;
        font-weight: 500;
        line-height: 96.9%;
        width: 20%;
        @media only screen and (max-width: 768px) {
          font-size: 4rem;
        }
        @media only screen and (max-width: 768px) {
          font-size: 3rem;
        }
      }

      span {
        font-size: 2rem;
        font-weight: 200;
      }
    }
  }

  &__employees {
    display: grid;
    width: 100%;
    gap: 5rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 12.8rem;
    margin-bottom: 5rem;

    @media only screen and (max-width: 768px) {
      padding: 0 5.2rem;
      gap: 2rem;
    }
    @media only screen and (max-width: 426px) {
      padding: 0 2.2rem;
      grid-template-columns: repeat(2, 1fr);
    }

    &-item {
      width: 100%;
      height: fit-content;
      position: relative;

      @media only screen and (min-width: 1024px) {
        &::after {
          content: '';
          position: absolute;
          background: url('/assets/svg/playIco.svg') no-repeat right top;
          background-size: 8rem;
          border-radius: 15px;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          display: block;
        }
      }

      img {
        border-radius: 15px;
        width: 100%;
        height: 80%;
        object-fit: cover;

        @media only screen and (max-width: 768px) {
          height: 65%;
        }
      }

      h4 {
        padding-top: 3rem;
        font-size: 2rem;
        font-weight: 600;
        @media only screen and (max-width: 768px) {
          font-size: 2rem;
          padding-top: 2rem;
          width: 70%;
        }
      }

      span {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.5rem;
        width: 50%;
        display: block;
        text-wrap: avoid;
        @media only screen and (max-width: 768px) {
          width: 95%;
          font-size: 1rem;
        }
      }
    }
  }
}

.s-header {
  padding: 0 12.8rem;
  margin-top: 5rem;
  font-weight: 900;
  font-size: 6rem;
  @media only screen and (max-width: 768px) {
    padding: 0 5.2rem;
  }
  @media only screen and (max-width: 426px) {
    padding: 0 2.2rem;
    font-size: 3rem;
  }
}