@import "templates";

.contact {
  position: relative;
  padding-top: 10vh;
  padding-bottom: 8vh;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;

  @media only screen and (max-width: 426px) {
    flex-direction: column;
  }

  &__label {
    width: 40vw;

    &-header {
      @extend %label-border;

      h3 {
        @extend %label-text;
      }

      @media only screen and (max-width: 768px) {
        font-size: 1.3rem;
        padding: 2rem 6vw;
        border-radius: 0 9px 9px 0;
      }
      @media only screen and (max-width: 426px) {
        padding: 1rem 6vw;
        border-radius: 0 9px 9px 0;
      }
    }
  }

  &__wrapper {
    display: flex;
    padding: 0 12.8rem;
    justify-content: space-between;
    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: url('/assets/svg/contacts-bg-before.svg') no-repeat bottom;
      background-size: contain;
      left: 0;
      top: 20%;
    }

    @media only screen and (max-width: 768px) {
      padding: 0 5.2rem;
      gap: 5rem;
    }
    @media only screen and (max-width: 426px) {
      padding: 0 2.2rem;
    }

    &-image {
      width: 40%;
      background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="17" viewBox="0 0 15 17" fill="none"><path d="M12.8285 6.29418C14.2301 7.06798 14.9309 7.45488 14.9309 8.04508C14.9309 8.63529 14.2301 9.02219 12.8285 9.79599L3.21662 15.1024C1.8945 15.8323 1.23344 16.1972 0.741721 15.907C0.249999 15.6168 0.249999 14.8617 0.249999 13.3515L0.25 2.73869C0.25 1.22848 0.25 0.473373 0.741722 0.183158C1.23345 -0.107057 1.8945 0.257891 3.21662 0.987788L12.8285 6.29418Z" fill="%23B4D1FF"/><path d="M12.8285 6.29418C14.2301 7.06798 14.9309 7.45488 14.9309 8.04508C14.9309 8.63529 14.2301 9.02219 12.8285 9.79599L3.21662 15.1024C1.8945 15.8323 1.23344 16.1972 0.741721 15.907C0.249999 15.6168 0.249999 14.8617 0.249999 13.3515L0.25 2.73869C0.25 1.22848 0.25 0.473373 0.741722 0.183158C1.23345 -0.107057 1.8945 0.257891 3.21662 0.987788L12.8285 6.29418Z" fill="%23B4D1FF"/><path d="M12.8285 6.29418C14.2301 7.06798 14.9309 7.45488 14.9309 8.04508C14.9309 8.63529 14.2301 9.02219 12.8285 9.79599L3.21662 15.1024C1.8945 15.8323 1.23344 16.1972 0.741721 15.907C0.249999 15.6168 0.249999 14.8617 0.249999 13.3515L0.25 2.73869C0.25 1.22848 0.25 0.473373 0.741722 0.183158C1.23345 -0.107057 1.8945 0.257891 3.21662 0.987788L12.8285 6.29418Z" fill="%23B4D1FF"/></svg>') right no-repeat;
      background-size: contain;
      position: relative;

      &::before {
        content: "";
        top: 0;
        left: 10%;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        background: url('/assets/svg/contacts-bg-after.svg') 0 0 no-repeat;
        background-size: contain;
        @media only screen and (max-width: 768px) {
          top: 30%;
          left: 15%;
        }
      }

      img {
        height: 100%;
      }

      @media only screen and (max-width: 426px) {
        display: none;
      }
    }

    &-caption {
      position: relative;

      @media only screen and (max-width: 426px) {
        width: 90vw;
        margin-top: 20px;
      }

      &-address {
        h2 {
          font-weight: 800;
          font-size: 2.5rem;
          @media only screen and (max-width: 768px) {
            font-size: 2rem;
          }
        }

        p {
          font-size: 2.25rem;
          @media only screen and (max-width: 768px) {
            font-size: 2rem;
          }
        }
      }

      &-workTime {
        margin-top: 1rem;

        h4 {
          font-size: 1.5rem;
          font-weight: 500;
        }

        p {
          font-weight: 200;
          font-size: 2.25rem;
          @media only screen and (max-width: 768px) {
            font-size: 2rem;
          }
        }
      }

      &-contacts {
        position: relative;
        margin-top: 20px;
        padding: 5px 30px;
        width: fit-content;
        display: flex;
        flex-direction: column;

        .contacts__phone {
          font-weight: 800;
          position: relative;
          font-size: 2.25rem;
          text-decoration: none;
          transition: 200ms all;

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: -20%;
            display: block;
            width: 2rem;
            height: 2rem;
            background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="17" viewBox="0 0 15 17" fill="none"><path d="M12.7858 6.80653C14.1065 7.49512 14.7668 7.83942 14.8299 8.36278C14.8394 8.44225 14.8394 8.52258 14.8299 8.60205C14.7668 9.12541 14.1065 9.4697 12.7858 10.1583L3.0138 15.2534C1.85589 15.8571 1.27693 16.159 0.831074 15.9533C0.762702 15.9217 0.698111 15.8826 0.63853 15.8365C0.249999 15.5363 0.249999 14.8834 0.249999 13.5775L0.25 3.38732C0.25 2.08147 0.25 1.42854 0.638531 1.1283C0.698111 1.08225 0.762703 1.04309 0.831075 1.01154C1.27693 0.805842 1.85589 1.10771 3.0138 1.71144L12.7858 6.80653Z" fill="%230665FD"/><path d="M12.7858 6.80653C14.1065 7.49512 14.7668 7.83942 14.8299 8.36278C14.8394 8.44225 14.8394 8.52258 14.8299 8.60205C14.7668 9.12541 14.1065 9.4697 12.7858 10.1583L3.0138 15.2534C1.85589 15.8571 1.27693 16.159 0.831074 15.9533C0.762702 15.9217 0.698111 15.8826 0.63853 15.8365C0.249999 15.5363 0.249999 14.8834 0.249999 13.5775L0.25 3.38732C0.25 2.08147 0.25 1.42854 0.638531 1.1283C0.698111 1.08225 0.762703 1.04309 0.831075 1.01154C1.27693 0.805842 1.85589 1.10771 3.0138 1.71144L12.7858 6.80653Z" fill="%230665FD"/><path d="M12.7858 6.80653C14.1065 7.49512 14.7668 7.83942 14.8299 8.36278C14.8394 8.44225 14.8394 8.52258 14.8299 8.60205C14.7668 9.12541 14.1065 9.4697 12.7858 10.1583L3.0138 15.2534C1.85589 15.8571 1.27693 16.159 0.831074 15.9533C0.762702 15.9217 0.698111 15.8826 0.63853 15.8365C0.249999 15.5363 0.249999 14.8834 0.249999 13.5775L0.25 3.38732C0.25 2.08147 0.25 1.42854 0.638531 1.1283C0.698111 1.08225 0.762703 1.04309 0.831075 1.01154C1.27693 0.805842 1.85589 1.10771 3.0138 1.71144L12.7858 6.80653Z" fill="%230665FD"/></svg>') no-repeat center;
            background-size: contain;
            @media only screen and (max-width: 426px) {
              width: 1.5rem;
              height: 1.5rem;
            }
          }

          @media only screen and (max-width: 768px) {
            font-size: 2rem;
          }
          @media only screen and (max-width: 426px) {
            font-size: 1.5rem;
          }

        }

        .contacts__email {
          font-weight: 500;
          font-size: 2rem;
          text-decoration: none;
          transition: 200ms all;
          position: relative;

          @media only screen and (max-width: 768px) {
            font-size: 1.875rem;
          }
          @media only screen and (max-width: 426px) {
            font-size: 1.25rem;
          }

          &:before {
            content: '';
            background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="17" viewBox="0 0 15 17" fill="none"><path d="M12.8285 6.29418C14.2301 7.06798 14.9309 7.45488 14.9309 8.04508C14.9309 8.63529 14.2301 9.02219 12.8285 9.79599L3.21662 15.1024C1.8945 15.8323 1.23344 16.1972 0.741721 15.907C0.249999 15.6168 0.249999 14.8617 0.249999 13.3515L0.25 2.73869C0.25 1.22848 0.25 0.473373 0.741722 0.183158C1.23345 -0.107057 1.8945 0.257891 3.21662 0.987788L12.8285 6.29418Z" fill="%23B4D1FF"/><path d="M12.8285 6.29418C14.2301 7.06798 14.9309 7.45488 14.9309 8.04508C14.9309 8.63529 14.2301 9.02219 12.8285 9.79599L3.21662 15.1024C1.8945 15.8323 1.23344 16.1972 0.741721 15.907C0.249999 15.6168 0.249999 14.8617 0.249999 13.3515L0.25 2.73869C0.25 1.22848 0.25 0.473373 0.741722 0.183158C1.23345 -0.107057 1.8945 0.257891 3.21662 0.987788L12.8285 6.29418Z" fill="%23B4D1FF"/><path d="M12.8285 6.29418C14.2301 7.06798 14.9309 7.45488 14.9309 8.04508C14.9309 8.63529 14.2301 9.02219 12.8285 9.79599L3.21662 15.1024C1.8945 15.8323 1.23344 16.1972 0.741721 15.907C0.249999 15.6168 0.249999 14.8617 0.249999 13.3515L0.25 2.73869C0.25 1.22848 0.25 0.473373 0.741722 0.183158C1.23345 -0.107057 1.8945 0.257891 3.21662 0.987788L12.8285 6.29418Z" fill="%23B4D1FF"/></svg>') no-repeat;
            background-size: contain;
            position: absolute;
            top: 0;
            left: -20%;
            display: block;
            width: 2rem;
            height: 2rem;
            @media only screen and (max-width: 426px) {
              width: 1.5rem;
              height: 1.5rem;
            }
          }
        }

        :hover {
          color: #B4D1FF;
        }

        :focus {
          color: #4F92FF;
        }
      }

      &-details {
        position: relative;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        gap: 10px;
        @media only screen and (max-width: 768px) {
          font-size: 1.25rem;
        }
        @media only screen and (max-width: 426px) {
          display: none;
        }

        strong {
          font-weight: 600;
        }

        h3 {
          font-size: 2rem;
          font-weight: 600;
          @media only screen and (max-width: 768px) {
            font-size: 1.75rem;
          }
        }

        &__bank {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 70%;
        }
      }
    }
  }
}

.details__download {
  position: absolute;
  left: -20rem;
  top: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: url('/assets/svg/download-doc.svg') center no-repeat;
  background-size: 40px;

  @media only screen and (max-width: 426px) {
    left: 70vw;
    top: 12vh;
    width: 75px;
    height: 75px;
    background-size: 30px;
  }

  #text {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 20px;
    animation: anim 10s linear infinite;

    .letter {
      position: absolute;
      left: 50%;
      font-size: 2rem;
      transform-origin: 0 50px;
      color: #FFFFFF8A;
      transition: 200ms all;
      @media (max-width: 426px) {
        transform-origin: 0 37.5px;
        font-size: 1rem;
      }
    }

    &:hover {
      .letter {
        color: #B4D1FF;
      }
    }

    &:focus {
      .letter {
        color: #4F92FF;
      }
    }
  }

  @keyframes anim {
    100% {
      transform: rotate(360deg);
    }
  }
}
