.form-group {
    width: 100%;
    margin-bottom: 1.4rem;
    &:last-child {
        margin-bottom: 0;
    }
    &__input {
        display: block;
        outline: none;
        border-radius: 1.1rem;
        border: .1rem solid #151515;
        background: #FFF;
        padding: 1.8rem 2.9rem;
        width: 100%;
        color: rgba(21, 21, 21, 1);
        font-family: inherit;
        font-size: 1.4rem;
        font-weight: 300;
        &::placeholder {
            color: rgba(21, 21, 21, 0.62);
        }
    }
    @media only screen and (max-width: 834px) {
        margin-bottom: 0.9rem;
        &__input {
            padding: 1rem 2.3rem;
            font-size: 1rem;
            font-weight: 300;
            line-height: 98.9%;
            border-radius: 0.7rem;
        }   
    }
    @media only screen and (max-width: 610px) {
        margin-bottom: .7rem;
        &__input {
            padding: .6rem 1.9rem .5rem;
            font-size: 0.8rem;
            line-height: 98.9%; 
        }
    }
}

.form-checkbox {
    &__input {
        display: none;
        &:checked ~ .form-checkbox {
            &__label {
                .form-checkbox {
                    &__label {
                        &-icon {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    &__label {
        display: flex;
        align-items: flex-start;
        font-size: 1.3rem;
        font-weight: 300;
        line-height: 114.4%;
        cursor: pointer;
        color: #0665FD;
        &:hover {
            color: #FFF;
            .form-checkbox {
                &__label {
                    &-box {
                        background: #B4D1FF;
                    }
                }
            }
        }
        &:active {
            color: #FFF;
            .form-checkbox {
                &__label {
                    &-box {
                        background: #0665FD;
                    }
                }
            }
        }
        &-box {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1.3rem;
            height: 1.3rem;
            flex-shrink: 0;
            border-radius: 0.2rem;
            border: 1px solid #0665FD;
            background: #FFF;
            margin-right: .8rem;
            color: inherit;
            transition: .3s ease;
        }
        &-icon {
            display: block;
            width: 0.9rem;
            height: 0.7rem;
            flex-shrink: 0;
            fill: currentColor;
            opacity: 0;
        }
        a {
            color: #FFF;
            text-decoration: underline dotted;
            &:hover {
                color: #B4D1FF;
            }
            &:active {
                color: #0665FD;
            }
        }
    }
    @media only screen and (max-width: 834px) {
        &__label {
            font-size: 0.9rem;
            line-height: 114.4%;
            &-box {
                width: 1.1rem;
                height: 1.1rem;
            }
        }
    }
    @media only screen and (max-width: 610px) {
        &__label {
            font-size: 0.5rem;
            font-style: normal;
            font-weight: 300;
            line-height: 110.9%; 
            &-box {
                width: 0.9rem;
                height: 0.9rem;
            }
        }
    }
}

.form-submit {
    margin-top: 1.8rem;
    @media only screen and (max-width: 610px) {
        margin-top: .2rem;
    }
}

.btn {
    outline: none;
    padding: 1.5rem 7rem 1.7rem;
    border-radius: 1.1rem;
    border: 1px solid #FFF;
    background: #151515;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
    font-family: inherit;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 98.9%;
    cursor: pointer;
    transition: .3s ease;
    width: 100%;
    &:hover {
        background: #B4D1FF;
    }
    &:active {
        background: #4F92FF;
    }
    @media only screen and (max-width: 834px) {
        font-size: 1.3rem;
        line-height: 98.9%;
        padding: 0.9rem 3rem 0.8rem;
    }
    @media only screen and (max-width: 610px) {
        padding: .5rem 1rem;
        border-radius: 0.7rem;
        font-size: 0.9rem;
    }
}