.modal {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--viewport-height);
  padding-top: 4rem;
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0 4.6rem 4.2rem 0 rgba(11, 39, 40, 0.07);
  backdrop-filter: blur(2.5rem);
  -webkit-backdrop-filter: blur(2.5rem);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 9;
}

.is-open {
  opacity: 1;
  pointer-events: all;
}

%modal-base {
  opacity: 0;
  position: relative;
  background: #fff;
  border-radius: 45px;
  padding: 4rem;
  width: 100vw;
  height: 50vh;
  margin: 0 12.8rem;
  color: #333947;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  transition: all 0.3s ease;
  @media only screen and (max-width: 768px) {
    margin: 0 5.2rem;
    padding: 2rem;
    border-radius: 17px;
  }
  @media only screen and (max-width: 426px) {
    background: #fff url("/assets/svg/modal-bg.svg") bottom no-repeat;
    background-size: contain;
  }
}

%modal-exit {
  display: block;
  position: absolute;
  top: 4rem;
  right: 4rem;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.7;
  }

  @media only screen and (max-width: 768px) {
    top: 2rem;
    right: 2rem;
  }
  @media only screen and (max-width: 425px) {
    width: 2rem;
    height: 2rem;
  }
}

%modal-text {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 40%;
  @media only screen and (max-width: 768px) {
    gap: 3rem;
  }
  @media only screen and (max-width: 426px) {
    width: 100%;
    gap: 2rem;
  }

  h2 {
    font-weight: 900;
    font-size: 2.5rem;
    @media only screen and (max-width: 768px) {
      font-size: 2rem;
    }
    @media only screen and (max-width: 426px) {
      padding: 0 3rem;
      text-align: center;
      &:after {
        content: '';
        display: block;
        background: url("/assets/svg/feedback-title.svg") center no-repeat;
        background-size: contain;
        height: 2rem;
        width: 75%;
        margin: auto;
      }
    }
  }

  p {
    font-weight: 500;
    font-size: 2rem;
    @media only screen and (max-width: 768px) {
      font-size: 1.5rem;
    }
    @media only screen and (max-width: 425px) {
      padding: 0 3rem;
    }
  }
}

.modal__cookie {
  @extend %modal-base;

  &-img {
    height: 100%;
    @media only screen and (max-width: 768px) {
      height: 50%;
    }
    @media only screen and (max-width: 426px) {
      display: none;
    }
  }

  &-text {
    @extend %modal-text;

    &-exit {
      @extend %modal-exit;
    }

    &-buttons {
      display: flex;
      width: 100%;
      justify-content: space-between;
      @media only screen and (max-width: 768px) {
        gap: 2rem;
      }

      button {
        cursor: pointer;
        padding: 1rem 2rem;
        font-weight: 800;
        font-size: 2rem;
        border-radius: 0.5rem;
        box-shadow: 0 4px 4px 0 rgba(77, 77, 77, 0.21);
        border: 1px solid #B0CEFE;
        transition: all 0.3s ease;
        @media only screen and (max-width: 768px) {
          font-size: 1.5rem;
          padding: 0.5rem 1rem;
        }

        &:hover {
          background: #B0CEFE;
          border: 1px solid transparent;
          color: #fff;
        }

        &:focus {
          background: #4F92FF;
          border: 1px solid #fff;
          color: #fff;
        }
      }
    }
  }
}

.modal__request {
  @extend %modal-base;

  &-img {
    //height: 80%;
    width: 50%  ;
    @media only screen and (max-width: 426px) {
      display: none;
    }
  }

  &-text {
    @extend %modal-text;

    &-exit {
      @extend %modal-exit;
    }
  }
}

#cookie + #request {
  margin: 10rem;
}

.modal__cookie.active {
  display: flex;
  opacity: 1;
}

.modal__request.active {
  display: flex;
  opacity: 1;
}

.hidden {
  overflow: hidden;
}