@import "templates";
.press-center-header {
  margin-top: 13rem;
  @extend %label-border;

  h3 {
    @extend %label-text
  }

}

.press-center-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
  gap: 6rem;
  padding: 5rem 12.8rem;
  @media only screen and (max-width: 768px) {
    padding: 5rem 5.2rem;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center
  }
  @media only screen and (max-width: 426px) {
    padding: 5rem 2.2rem;
    display: flex;
    flex-direction: column;
  }

  &__card {
    z-index: 1;
    padding: 3rem;
    position: relative;
    color: #030304;
    border-radius: 23px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @media only screen and (max-width: 426px) {
      padding: 1rem;
      border-radius: 13px;
      min-height: 15rem;
      &:nth-child(even) {
        &:after {
          content: '';
          width: 5rem;
          height: 5rem;
          display: block;
          position: absolute;
          background: url("/assets/svg/about-card-5.svg") center no-repeat;
          background-size: contain;
          left: 45%;
          bottom: -55px;
        }
      }
      &:after {
        content: '';
        width: 5rem;
        height: 5rem;
        display: block;
        position: absolute;
        background: url("/assets/svg/about-card-5.svg") center no-repeat;
        background-size: contain;
        left: 45%;
        bottom: -55px;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
    @media only screen and (max-width: 768px) and (min-width: 426px){
      padding: 2rem;
      &:nth-child(3n-1) {
        &::before {
          content: '';
          display: none;
        }

        &::after {
          content: '';
          display: none;
        }
      }
      &:nth-child(even) {
        &:after {
          content: '';
          width: 5rem;
          height: 5rem;
          display: block;
          position: absolute;
          left: -5.5rem;
          background: url("/assets/svg/about-card-5.svg") center no-repeat;
          background-size: contain;
          bottom: 50%;
        }
      }

      &::before {
        content: '';
        display: none;
      }
    }
    @media only screen and (max-width: 1920px) and (min-width: 1024px) {
      &:nth-child(3n-1) {
        &:after {
          content: '';
          width: 5rem;
          height: 5rem;
          display: block;
          position: absolute;
          left: -5.5rem;
          background: url("/assets/svg/about-card-5.svg") center no-repeat;
          background-size: contain;
          bottom: 50%;
        }

        &:before {
          content: '';
          width: 5rem;
          height: 5rem;
          display: block;
          position: absolute;
          right: -5.5rem;
          background: url("/assets/svg/about-card-5.svg") center no-repeat;
          background-size: contain;
          bottom: 50%;
        }
      }
    }

    span {
      font-size: 1.5rem;
      font-weight: 400;
      @media only screen and (max-width: 768px) {
        font-size: 1rem;
      }
    }

    &-wrapper {
      @media only screen and (max-width: 426px) {
        display: flex;
        flex-direction: row;
        align-items: self-start;
        gap: 2rem;
        width: 100%;
      }

      &-img {
        display: flex;
        align-items: center;
        height: 20rem;
        @media only screen and (max-width: 426px) {
          width: 60%;
          height: fit-content;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: 5px;
          @media only screen and (max-width: 426px) {
            object-fit: contain;
          }
        }
      }

      h4 {
        margin-top: 2.5rem;
        font-size: 2rem;
        font-weight: 800;
        width: 100%;
        @media only screen and (max-width: 768px) {
          font-size: 1.5rem;
        }
        @media only screen and (max-width: 426px) {
          margin-top: 0;
          width: 40%;
          font-size: 1rem;
        }
      }
    }

    p {
      margin-top: 2rem;
      font-size: 1.5rem;
      font-weight: 500;
      width: 80%;
      @media only screen and (max-width: 768px) {
        font-size: 1rem;
      }
      @media only screen and (max-width: 426px) {
        display: none;
      }
    }

    svg {
      width: 5rem;
      height: 5rem;
      cursor: pointer;
      position: absolute;
      right: 3rem;
      bottom: 3rem;
      border: 2px solid #030304;
      border-radius: 50%;
      @media only screen and (max-width: 768px) {
        width: 4rem;
        height: 4rem;
        right: 2rem;
        bottom: 2rem;
      }
      @media only screen and (max-width: 426px) {
        width: 3rem;
        height: 3rem;
        right: 1rem;
        bottom: 1rem;
      }
    }
  }
}

.more-news {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  padding: 2.5rem 0 5rem 12.8rem;
  @media only screen and (max-width: 768px) {
    padding: 2.5rem 0 5rem 5.2rem;
  }
  @media only screen and (max-width: 426px) {
    padding: 2.5rem 0 5rem 2.2rem;
  }

  span {
    font-size: 1.5rem;
    font-weight: 800;
    width: 1rem;
    @media only screen and (max-width: 426px) {
      font-size: 1rem;
    }
  }

  svg {
    width: 5rem;
    height: 5rem;
    //margin-left: auto;
    fill: #fff;
    stroke: #fff;
    border-radius: 50%;
    border: 2px solid #fff;
    @media only screen and (max-width: 426px) {
      width: 3rem;
      height: 3rem;
    }
  }
}

