.project-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    &__title {
        position: relative;
        display: flex;
        align-items: flex-end;
        max-width: 43.3rem;
        min-height: 11.4rem;
        font-size: 3.6rem;
        font-weight: 800;
        line-height: 100.4%;
        letter-spacing: -0.036rem;
        margin-bottom: 5rem;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -3.1rem;
            display: block;
            width: 100%;
            height: 1rem;
            background: #FFF;
            transition: .3s ease;
        }
    }
    &__text {
        font-size: 2rem;
        font-weight: 400;
        line-height: 116.9%;
        max-width: 43.3rem;
    }
    &_gold {
        .project-card {
            &__title {
                &::after {
                    background: #FDEDBA;
                }
            }
        }
    }
    &_green {
        .project-card {
            &__title {
                &::after {
                    background: #32C769;
                }
            }
        }
    }
    &_purple {
        .project-card {
            &__title {
                &::after {
                    background: #CFC5F7;
                }
            }
        }
    }
    &_light-green {
        .project-card {
            &__title {
                &::after {
                    background: #BFF6CC;
                }
            }
        }
    }
    &:hover {
        color: #B4D1FF;
        .project-card {
            &__title {
                &::after {
                    background-color: #B4D1FF;
                }
            }
        }
    }
    &:active {
        color: #0665FD;
        .project-card {
            &__title {
                &::after {
                    background-color: #0665FD;
                }
            }
        }
    }
    &_preview {
        position: relative;
        padding-left: 6.1rem;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            width: 3.7rem;
            height: 21.4rem;
            background: url(/assets/svg/project-preview.svg) no-repeat center;
            background-size: contain;
        }
        .project-card {
            &__title {
                color: #FFF;
                &::after {
                    background-color: #FFF !important;
                }
            }
            &__text {
                color: #FFF;
            }
        }
    }
    @media only screen and (max-width: 834px) {
        &__title {
            font-size: 2.2rem;
            font-weight: 800;
            line-height: 100.4%;
            letter-spacing: -0.022rem;
            margin-bottom: 3.4rem;
            min-height: 6.6rem;
            &::after {
                bottom: -2.1rem;
                height: .6rem;
            }
        }
        &__text {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 116.9%;
        }
        &_preview {
            padding-left: 0;
            &::before {
                top: -3.5rem;
                left: 0;
                transform: translateY(0);
                width: 18.6rem;
                height: 2.3rem;
                background: url(/assets/svg/project-preview_tab.svg) no-repeat center;
                background-size: contain;
            }
           
        }
    }
    @media only screen and (max-width: 610px) {
        &__title {
            font-size: 1.5rem;
            line-height: 100.4%;
            letter-spacing: -0.015rem;
            max-width: 15.2rem;
            margin-bottom: 1.8rem;
            min-height: auto;
            &::after {
                height: .3rem;
                bottom: -1.3rem;
            }
        }
        &__text {
            font-size: 0.9rem;
            line-height: 116.9%;
        }
        &_preview {
            order: 2;
            &::before {
                top: -1.2rem;
                left: -1.1rem;
                height: calc(100% + 3.7rem);
                width: calc(100% + 3.3rem);    
                background: none;  
                border-radius: .5rem 0 0 .5rem;
                border: .1rem solid #CFC5F7;
                border-right: 0;
                z-index: -1;
            }
            &::after {
                content: '';
                position: absolute;
                bottom: -2.5rem;
                left: -1.1rem;
                display: block;
                width: calc(100% + 3.3rem);  
                height: 1.6rem;
                border-radius: 0 0 0 .5rem;
                background-color: #CFC5F7;
                background-image: url(/assets/svg/project-preview_mob.svg);
                background-repeat: no-repeat;
                background-position: 1.1rem center;
                z-index: -1;
            }
        }
    }
}