.reviews {
  width: 100%;

  &__container {
    padding: 5rem 12.8rem;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;

    @media only screen and (max-width: 768px) {
      padding: 5rem 5.2rem;
      grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (max-width: 426px) {
      padding: 5rem 2.2rem;
      grid-template-columns: repeat(3, 100%);
      grid-template-rows: 1fr 1fr;
    }


    &-review {
      border-radius: 25px;
      background: #FFF;
      color: #030304;
      padding: 3rem;
      width: 100%;

      h5 {
        display: flex;
        justify-content: space-between;
        font-weight: 900;
        font-size: 3rem;
        line-height: 102.9%;
        padding-bottom: 3rem;

        @media only screen and (max-width: 768px) {
          font-size: 2rem;
        }
        @media only screen and (max-width: 426px) {
          font-size: 1.5rem;
          padding-bottom: 2rem;
        }

        &::after {
          content: "";
          display: inline-flex;
          background: url("/assets/svg/about-card-2.svg") no-repeat;
          min-width: 70px;
          min-height: 30px;
          background-size: contain;
        }
      }

      p {
        font-weight: 500;
        font-size: 1.5rem;
        @media only screen and (max-width: 768px) {
          font-size: 1rem;
        }
      }
    }
  }
}