main {
  flex: 1 1 0;
  background-size: contain;
}

.header-nav {
  padding: 9rem 12.8rem 2rem;
  font-size: 1.625rem;
  font-weight: 300;
  @media only screen and (max-width: 768px) {
    font-size: 1rem;
    padding: 7rem 5.2rem 2rem;
  }
  @media only screen and (max-width: 426px) {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5rem solid #fff;
    padding-bottom: 2rem;


    li {
      label {
        //transition: color 0.3s ease, opacity 0.3s ease;
        display: inline-flex;
        align-items: center;
        padding: 1rem;
        cursor: pointer;
        border: 2px dashed rgba(253, 237, 186, 0);
        transition: all 0.3s ease;
        @media only screen and (max-width: 768px) {
          padding: 1rem;
        }

        &::after {
          content: '';
          position: relative;
          display: block;
          width: 5rem;
          height: 5rem;
          background: url('data:image/svg+xml,<svg width="134" height="56" viewBox="0 0 134 56" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_2249_71)"><line x1="130.296" y1="3.92767" x2="78.8785" y2="51.658" stroke="%234F92FF" stroke-width="8"/><line x1="94.7048" y1="2.93158" x2="43.2876" y2="50.6619" stroke="%234F92FF" stroke-width="8"/></g><defs><clipPath id="clip0_2249_71"><rect width="134" height="56" fill="white"/></clipPath></defs></svg>') no-repeat center;
          background-size: contain;
          @media only screen and (max-width: 768px) {
            width: 3rem;
            height: 2rem;
          }
        }

        &:hover {
          color: #B4D1FF;
        }

        &:focus {
          color: #4F92FF;
        }
      }

      [type="radio"] {
        display: none;

        &:checked {
          &:checked ~ label {
            color: #fff;
            cursor: auto;
            font-weight: 700;
            border-radius: 10px;
            box-shadow: 0 1px 7px 0 rgba(255, 255, 255, 0.25);
            border: 0.3px dashed #FDEDBA;
          }
        }
      }
    }
  }
}

.content {
  padding: 0 0 4rem 12.8rem;
  display: flex;
  @media only screen and (max-width: 768px) {
    padding: 7rem 5.2rem;
  }
  @media only screen and (max-width: 426px) {
    padding: 7rem 2.2rem;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    @media only screen and (max-width: 426px) {
      justify-content: flex-start;
    }

    &-container {
      display: flex;
      width: 50vw;
      flex-direction: column;
      gap: 2.5rem;
      font-size: 1.875rem;
      font-weight: 400;
      @media only screen and (max-width: 768px) {
        font-size: 1.5rem;
        width: 45vw;
      }
      @media only screen and (max-width: 426px) {
        width: 100%;
      }
      @media only screen and (max-width: 426px) {
        font-size: 1rem;
      }
    }

    &-images {
      &-image {
        width: 40rem;
        display: inline-block;
        position: relative;
        left: -5rem;
        transition: all 0.3s ease, opacity 0.3s ease;
        cursor: pointer;
        @media only screen and (max-width: 768px) {
          width: 15rem;
          left: -2rem;
        }
        @media only screen and (max-width: 320px) {
          width: 12rem;
          left: -1.5rem;
        }

        &:hover {
          scale: 1.1;
        }

        &:focus {
          scale: 1.1;
        }
      }
    }

    h1 {
      font-size: 4rem;
      font-weight: 700;
      @media only screen and (max-width: 768px) {
        font-size: 2rem;
      }
      @media only screen and (max-width: 426px) {
        font-size: 1.5rem;
      }
    }
  }

  .aside-nav {
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.66);
    @media only screen and (max-width: 768px) {
      font-size: 1rem;
    }
    @media only screen and (max-width: 426px) {
      display: none
    }

    ul {
      padding: 2rem;
      width: 20vw;
      border-radius: 23px;
      border: 1px solid #FDEDBA;

      li {
        padding: 2rem 0;
        border-bottom: 1px dotted #fff;

        label {
          cursor: pointer;
          z-index: 1;
          border: 1px solid rgba(180, 209, 255, 0);
          transition: border-color 0.3s ease, opacity 0.3s ease;

          &:hover {
            color: #B4D1FF;
          }

          &:focus {
            color: #4F92FF;
          }
        }

        &:first-child {
          color: #fff;
          padding: 2rem;
          font-size: 1.625rem;
          font-weight: 700;
          border-radius: 10px;
          background: #030304;
          box-shadow: 0 1px 7px 0 rgba(255, 255, 255, 0.25);
          @media only screen and (max-width: 768px) {
            font-size: 1rem;
            padding: 1.25rem;
          }
        }

        [type="radio"] {
          display: none;

          &:checked {
            &:checked ~ label {
              color: #fff;
              cursor: auto;
              font-weight: 800;
              font-size: 1.375rem;
              position: relative;
              display: block;
              padding: 2rem;
              scale: 1.2;
              left: 6px;
              z-index: 2;
              border: 3px solid #B4D1FF;
              border-radius: 0 1.125rem 1.0625rem 0;
              background: rgba(255, 255, 255, 0.15);
              box-shadow: -5px 5px 10px 2px rgba(255, 255, 255, 0.3);
              backdrop-filter: blur(25px);
              @media only screen and (max-width: 768px) {
                font-size: 1rem;
                padding: 1rem;
                left: 0;
                scale: 1.4;
              }
            }
          }
        }
      }
    }
  }
}

.aside-mobile-nav {
  overflow: auto;
  transform: translate(-100%);
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0 4.6rem 4.2rem 0 rgba(11, 39, 40, 0.07);
  backdrop-filter: blur(2.5rem);
  -webkit-backdrop-filter: blur(2.5rem);
  z-index: 9;
  font-size: 1rem;
  transition: all 0.3s ease;

  @media only screen and (min-width: 426px) {
    display: none;
  }

  &__container-header {
    margin-top: 20rem;
    position: relative;
    left: -1px;
    width: 80vw;
    padding: 1rem 2.2rem;
    border: 1px solid #FDEDBA;
    border-radius: 0 0.9375rem 0.9375rem 0;
    background: #030304;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    li {
      padding: 1rem 1rem 1rem 0;
      font-weight: 300;
      border-bottom: 1px dotted #fff;

      label {
        border: 1px dashed rgba(253, 237, 186, 0);
        transition: border-color 0.3s ease, opacity 0.3s ease;
      }

      [type="radio"] {
        display: none;

        &:checked {
          &:checked ~ label {
            color: #fff;
            cursor: auto;
            font-weight: 900;
            font-size: 1rem;
            display: block;
            padding: 1rem 2.2rem;
            scale: 1.2;
            z-index: 2;
            border-radius: 10px;
            background: #030304;
            box-shadow: 1px 4px 7px 0 rgba(255, 255, 255, 0.25);
            border: none;
          }
        }
      }
    }
  }

  &__container-aside {
    position: relative;
    left: -1px;
    width: 80vw;
    padding: 1rem 2.2rem;
    border: 1px solid #FDEDBA;
    border-radius: 0 0.9375rem 0.9375rem 0;
    background: #030304;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.51);

    li {
      border-bottom: 1px dotted #fff;
      padding: 1rem 0;

      label {
        border: 1px solid rgba(180, 209, 255, 0);
        transition: border-color 0.3s ease, font-weight 0.3s ease, opacity 0.3s ease;
      }

      [type="radio"] {
        display: none;

        &:checked {
          &:checked ~ label {
            color: #fff;
            cursor: auto;
            font-weight: 800;
            font-size: 0.875rem;
            position: relative;
            display: block;
            padding: 1rem 2.2rem;
            scale: 1.2;
            left: -2px;
            z-index: 2;
            border: 3px solid #B4D1FF;
            border-left: 0;
            border-radius: 0 1.125rem 1.0625rem 0;
            background: rgba(255, 255, 255, 0.15);
            box-shadow: -5px 5px 10px 2px rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(25px);
          }
        }
      }

      &:first-child {
        font-weight: 700;
        font-size: 1.5rem;
      }
    }
  }
}

.aside__toggle {
  display: block;
  position: fixed;
  width: 10rem;
  height: 10rem;
  background: url("/assets/svg/info-mobile-nav.svg") no-repeat;
  background-size: cover;
  left: -0.5rem;
  top: 5rem;
  border: 0;
  z-index: 1;
  transition: all 0.3s ease, opacity 0.3s ease;
  @media only screen and (min-width: 426px) {
    display: none;
  }
}

.aside-open {
  pointer-events: all;
  opacity: 1;
  transform: translate(0);
}

