%label-border {
  position: relative;
  padding: 3rem 1rem 3rem 12.8rem;
  width: fit-content;
  border-radius: 0 1.435rem 1.435rem 0;
  border-top: 1px solid #FFF;
  border-right: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  @media only screen and (max-width: 768px) {
    padding: 3rem 1rem 3rem 5.2rem;
  }
  @media only screen and (max-width: 425px) {
    padding: 3rem 1rem 3rem 2.2rem;
  }
}

%label-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: relative;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 104.4%;
  letter-spacing: -0.064rem;

  @media only screen and (max-width: 768px) {
    font-size: 3rem;
  }
  @media only screen and (max-width: 426px) {
    font-size: 2rem;
  }

  &::after {
    content: "";
    position: relative;
    display: inline-flex;
    width: 10rem;
    height: 5rem;
    background: url("/assets/svg/about-card-2.svg") no-repeat center;
    background-size: contain;
    z-index: -1;
    @media only screen and (max-width: 768px) {
      width: 7rem;
    }
    @media only screen and (max-width: 426px) {
      width: 5rem;
      height: 2.5rem;
    }
  }
}